<!-- <div fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign="space-between" fxLayoutGap="5px">
	<div fxLayout="row" fxFlex="100" fxLayoutGap="2px">
		<button fxFlex="33" mat-raised-button color="primary">Click me!</button>
		<button fxFlex="33" mat-raised-button color="primary">Click me!</button>
		<button fxFlex="34" mat-raised-button color="primary">Click me!</button>
	</div>

	<div fxLayout="row" fxFlex="100" fxLayoutGap="3px">
		<button fxFlex="33" mat-raised-button color="primary">Click me!</button>
		<button fxFlex="33" mat-raised-button color="primary">Click me!</button>
		<button fxFlex="34" mat-raised-button color="primary">Click me!</button>
	</div>
</div> -->

<router-outlet></router-outlet>