<form [formGroup]="form">
	<div class="container" fxLayout="column" fxFlex="100" fxLayoutAlign="center">
		<div fxLayoutAlign="center center">
			<img src="../../assets/search.png" width="150px">
		</div>

		<div class="formField" fxLayout="row" fxLayoutAlign="space-around stretch" fxFlex="50">
			<mat-form-field fxFlex="80" fxFlex.gt-sm="70" fxFlex.gt-md="30">
				<input matInput placeholder="Procurar video" formControlName="procura">
				<button mat-icon-button matSuffix (click)="procurar()">
					<mat-icon>search</mat-icon>
				</button>
			</mat-form-field>
		</div>
		<!--Exibe a mensagem de erro caso não encontre um termo na busca-->
		<div *ngIf="!encoutrouItem">
			<app-error-message></app-error-message>
		</div>
	</div>
</form>

<app-footer></app-footer>