<!--Componente responsável por realizar a exibição, de forma dinâmica, dos itens que serão apresentados
no video, tais como, botões, titulos, descrição, canal e etc -->

<div class="flex">
	<div class="item" style="margin-bottom: 435px;">
		<mat-card style="height: 468px;">
			<!-- Quando for redirecionado para a página de details-video (visualizar um unico video) o título do video ficará em cima do video -->
			<mat-card-header *ngIf="desligaTituloDown" fxLayout.gt-xs="row" fxLayout.xs="column">
				<mat-card-title fxFlex="50%" style="width: 100%;">{{ item.snippet.title }}</mat-card-title>
			</mat-card-header>

			<youtube-player [videoId]="item.id.videoId" (ready)="savePlayer($event)" (change)="onStateChange($event)"></youtube-player>
			
			<!-- Quando estiver na página de search-results (visualizar a lista de vídeos) o titulo do video ficará abaixo video -->
			<mat-card-header *ngIf="!desligaTituloDown" fxLayout.gt-xs="row" fxLayout.xs="column">
				<mat-card-title fxFlex="50%" style="width: 100%;">{{ item.snippet.title }}</mat-card-title>
			</mat-card-header>

			<span class="subTitle">{{ item.snippet.channelTitle }}</span>

			<!-- Quando estiver na página de details-video (visualizar um unico vídeo) o botão de like e deslike aparecerão -->
			<div *ngIf="deligaBotaoLike" style="float: right;">
				<button mat-button>
					<mat-icon>thumb_up</mat-icon> 9.999
				</button>
				<button mat-button>
					<mat-icon>thumb_down</mat-icon> 9.999	
				</button>
			</div>

			<mat-card-content style="margin-top: 12px;">
				<p> {{ item.snippet.description }}</p>
			</mat-card-content>

			<!-- Quando estiver na página de details-video (visualizar um unico vídeo) o botão de visualização aparecerá -->
			<div *ngIf="deligaBotaoVisualizacao" style="float: left; margin-top: -19px;	margin-left: -19px;">
				<button mat-button>
					<mat-icon>visibility</mat-icon> 9.999
				</button>				
			</div>

			<!-- Quando for redirecionado para a página de details-video (visualizar um unico video) o botão "Detalhes do vídeo" não aparecerá -->
			<button *ngIf="!desligaBotaoDetalhe" mat-stroked-button style="width: 100%; margin-top: -8px;" (click)="detalharVideo()">Detalhes do Vídeo</button>
		</mat-card>
	</div>
</div>